<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<section id="wrapper">
    <div class="login-register" style="background-color:#EFEFEF;">
        <!-- <div class="login-register" style="background-image:url(../assets/images/background/login-register.jpg);"> -->
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" id="loginform" autocomplete="off" [formGroup]="form" (ngSubmit)="login()">
                    <div class="form-group">
                        <div class="col-xs-12 text-center">
                            <div class="user-thumb text-center"> <img alt="thumbnail" class="img-circle" width="100" src="../assets/images/users/1.jpg">
                                <h3>Bienvenido!</h3>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="text" placeholder="Usuario" formControlName="usuario" maxlength="8">
                            <div class="error">
                                <div class="help-block">
                                    <p *ngIf="validarCampo('usuario', 'required')">El usuario es obligatorio</p>
                                    <p *ngIf="validarCampo('usuario', 'minlength')">El usuario es incorrecto min</p>
                                    <p *ngIf="validarCampo('usuario', 'maxlength')">El usuario es incorrecto max</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control" type="password" placeholder="Clave" formControlName="clave" maxlength="30">
                            <div class="error">
                                <div class="help-block">
                                    <p *ngIf="validarCampo('clave', 'required')">La clave es obligatorio</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <div class="col text-danger">
                            <p *ngIf="validarCampo('clave', 'required')">La clave es obligatorio</p>
                        </div>
                    </div> -->
                    <div class="form-group row">
                        <div class="col-md-12">
                            <div class="checkbox checkbox-primary pull-left p-t-0">
                                <input id="checkbox-signup" type="checkbox" class="filled-in chk-col-light-blue" formControlName="recordar">
                                <label for="checkbox-signup"> Recordarme </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center m-b-0">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block" type="submit">
                                Iniciar Sesión
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->