<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Cargando...</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <!-- <div class="col-12 m-t-30">
        <h4 class="m-b-0">Card styles</h4>
        <p class="text-muted m-t-0 font-12">Cards include various options for customizing their backgrounds, borders, and color.<code>.card-primary info, warning, danger</code></p>
    </div> -->
    <div class="col-md-6" *ngFor="let item of productos">
        <div class="card card-outline-{{ item.producto.color }}">
            <div class="card-header">
                <h4 class="m-b-0 text-white">{{ item.producto.tipo.descripcion }}</h4>
            </div>
            <div class="card-body">
                <div class="ribbon ribbon-bookmark ribbon-default">{{ item.fecha_inicio }}</div>
                <h1 class="card-title card-text-margin text-center">S/. {{ item.monto_capital }}</h1>
                <h4 class="m-b-20">
                    <p class="card-text text-center">
                        <!-- Período de ejecución:
                        <br> -->
                        {{ item.producto.programacion }}
                    </p>
                </h4>
                <!-- <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p> -->
                <button *ngIf="item.se_desembolso_prestamo" [routerLink]="['/caja/pago/producto-detalle-caja', item.id]" class="btn btn-{{ item.producto.color }}">Ver detalle del producto</button> &nbsp;&nbsp;
                <button *ngIf="!item.se_desembolso_prestamo" (click)="realizarDesembolsoPago(item.id)" class="btn btn-danger">Desembolsar producto</button>

                <!-- <div class="ribbon-wrapper card">
                    <div class="ribbon ribbon-bookmark  ribbon-default">{{ producto.fecha_inicio }}</div>
                    <p class="ribbon-content">Duis mollis, est non commodo luctus, nisi erat porttitor ligula</p>
                    <a [routerLink]="['/operaciones/gestion/producto-detalle', producto.id]" class="btn btn-inverse">Ver detalle del producto</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->