<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <a class="btn btn-success" [routerLink]="['./nuevo']"
            ><i class="ti-plus"></i> Nuevo</a
          >
        </div>
        <br />
        <div class="table-responsive">
          <table
            class="table table-bordered color-bordered-table purple-bordered-table"
          >
            <thead>
              <tr>
                <th width="3%">#</th>
                <th class="text-center">Descripcion</th>
                <th class="text-center">Producto</th>
                <th class="text-center">Usuario</th>
                <th class="text-center">Analista</th>
                <th class="text-nowrap center" width="5%">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of analistas, let i = index">
                <td class="text-center">{{i+1}}</td>
                <td class="text-center">{{item.descripcion}}</td>
                <td>{{item.producto.descripcion}}</td>
                <td>{{item.usuario.usuario}}</td>
                <td>{{item.usuario.persona.nombre}}, {{item.usuario.persona.apellido_paterno}} {{item.usuario.persona.apellido_materno}}</td>
                <td class="text-nowrap text-center">
                  <a [routerLink]="['/seguridad/gestion/analista', item.id]" data-toggle="tooltip" data-original-title="Edit">
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a href="#" data-toggle="tooltip" data-original-title="Close">
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <button (click)="cambiarPagina(-10)" class="btn btn-info" *ngIf="paginaActual!=1">Anterior</button>&nbsp;
            <button (click)="cambiarPagina(10)" class="btn btn-info" *ngIf="paginaActual!=totalPaginas">Siguiente</button>
          </div>
          <div class="text-right col-sm-3">
            <span class="text-info">{{ totalRegistros }}</span> Registros
            <span class="text-info">{{ totalPaginas }}</span> Paginas
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
