<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-sm-4">
                        <label class="form-control-label">Desde:</label>
                        <input type="date" class="form-control" [(ngModel)]="desde">
                    </div>

                    <div class="col-sm-4">
                        <label class="form-control-label">Hasta:</label>
                        <input type="date" class="form-control" [(ngModel)]="hasta">
                    </div>

                    <div class="col-sm-2" style="margin-top: 33px;">
                        <button type="button" class="btn btn-primary" (click)="elegirFecha(desde, hasta)">
                            <i class="fa fa-search"></i>
                            &nbsp; Buscar
                        </button>
                    </div>

                </div>
                <br>
                <div class="table-responsive">
                    <table class="table table-bordered color-bordered-table purple-bordered-table">
                        <thead>
                            <tr>
                                <th width="3%">#</th>
                                <th class="text-center" width="10%">Fecha apertura</th>
                                <th class="text-center" width="10%">Fecha cierre</th>
                                <th class="text-center" width="7%">Cantidad operaciones</th>
                                <th class="text-center" width="7%">Total apertura</th>
                                <th class="text-center" width="7%">Total operaciones</th>
                                <th class="text-center" width="7%">Total efectivo</th>
                                <th class="text-center" width="7%">Estado</th>
                                <th class="text-center" width="7%">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of cajas; let i = index">
                                <td class="text-center">{{ i + 1 + 10*(paginaActual-1) }}</td>
                                <td class="text-center">{{ item.apertura.fecha_apertura }}</td>
                                <td class="text-center">{{ item.cierre.fecha_cierre }}</td>
                                <td>{{ item.cantidad_operaciones }}</td>
                                <td>{{item.monto_total_apertura.toFixed(1)}} </td>
                                <td>{{item.monto_total_operaciones.toFixed(1)}} </td>
                                <td>{{item.monto_total_efectivo.toFixed(1)}} </td>
                                <!-- <td>{{item.estado}} </td> -->
                                <td class="text-center" *ngIf="item.estado == 'Cerrado'  ">
                                    <span class="label label-danger">{{ item.estado}} </span>
                                </td>
                                <td class="text-center" *ngIf="item.estado == 'Abierto'  ">
                                    <span class="label label-success">{{ item.estado}} </span>
                                </td>
                                <td class="text-center">
                                    <!-- <button class="btn btn-outline-primary" (click)="cargarReporte(item.apertura.fecha_apertura)">Ver Reporte</button> -->
                                    <a (click)="cargarReporte(item.apertura.fecha_apertura)" data-toggle="tooltip" data-original-title="Ver Reporte">
                                        <i class="fa fa-file-pdf-o text-primary pointer"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-9">
                        <button (click)="cambiarPagina(-10)" class="btn btn-info" *ngIf="paginaActual!=1"><i
                                class="fa fa-angle-left"></i>&nbsp;Anterior</button>&nbsp;
                        <button (click)="cambiarPagina(10)" class="btn btn-info" *ngIf="paginaActual!=totalPaginas">Siguiente&nbsp;&nbsp;<i
                                class="fa fa-angle-right"></i></button>
                    </div>
                    <div class="text-right col-sm-3">
                        <span class="text-info">{{ totalRegistros }}</span> Registros
                        <span class="text-info">{{ totalPaginas }}</span> Páginas
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>