<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form ngForm [formGroup]="form">
                    <!-- (submit)="guardar()" -->

                    <div class="form-group row">

                        <div class="col-sm-4" [ngClass]="{
                  'has-success': validarSuccess('pc_nombre'),
                  'has-danger': validarError('pc_nombre')
                }">
                            <label class="form-control-label">
                Nombre PC: <span class="text-danger">(*)</span>
              </label>
                            <input type="text" class="form-control" [ngClass]="
                    validarSuccess('pc_nombre')
                      ? 'form-control-success'
                      : 'form-control-danger'
                  " formControlName="pc_nombre" maxlength="50" />
                            <small class="form-control-feedback">
                <p *ngIf="validarCampo('pc_nombre', 'required')">
                  Ingrese el nombre de la pc.
                </p>
              </small>
                        </div>

                        <div class="col-sm-4" [ngClass]="{
                  'has-success': validarSuccess('ip'),
                  'has-danger': validarError('ip')
                }">
                            <label class="form-control-label">
                Ip: <span class="text-danger">(*)</span>
              </label>
                            <input type="text" class="form-control" [ngClass]="
                    validarSuccess('ip')
                      ? 'form-control-success'
                      : 'form-control-danger'
                  " formControlName="ip" maxlength="15" />
                            <small class="form-control-feedback">
                <p *ngIf="validarCampo('ip', 'required')">
                  La Ip es obligatoria.
                </p>
                <p *ngIf="validarCampo('ip', 'maxlength')">
                  Ingrese una ip correcta.
                </p>
              </small>
                        </div>

                        <div class="col-sm-4" [ngClass]="{
                  'has-success': validarSuccess('serie'),
                  'has-danger': validarError('serie')
                }">
                            <label class="form-control-label">
                Serie: <span class="text-danger">(*)</span>
              </label>
                            <input type="text" class="form-control" [ngClass]="
                    validarSuccess('serie')
                      ? 'form-control-success'
                      : 'form-control-danger'
                  " formControlName="serie" (keypress)="validarNumero($event)" maxlength="3" />
                            <small class="form-control-feedback">
                <p *ngIf="validarCampo('ip', 'required')">
                  La serie es obligatoria.
                </p>
                <p *ngIf="validarCampo('ip', 'maxlength')">
                  Ingrese una serie correcta.
                </p>
              </small>
                        </div>
                    </div>

                    <div class="form-group row">

                        <!-- <div class="form-group row"> -->
                        <div class="col-sm-4" [ngClass]="{
  'has-success': validarSuccess('local_atencion'),
  'has-danger': validarError('local_atencion')
}">
                            <label class="form-control-label">
                Local de atención: <span class="text-danger">(*)</span>
              </label>
                            <select class="form-control" [ngClass]="
validarSuccess('local_atencion')
  ? 'form-control-success'
  : 'form-control-danger'
" formControlName="local_atencion">
                <option value="">--Seleccionar--</option>
                <option value="Agencia Ayacucho">Agencia Ayacucho</option>
                <option value="Agencia Huanta">Agencia Huanta</option>
                <option value="Agencia San Francisco">Agencia San Francisco</option>
              </select>
                            <small class="form-control-feedback">
                <p *ngIf="validarCampo('local_atencion', 'required')">
                  El local de atención es un dato obligatorio.
                </p>
              </small>
                        </div>
                        <!-- </div> -->

                        <!-- <div class="col-sm-4">
              <label class="form-control-label">
                Local Atención: <span class="text-danger">(*)</span>
              </label>
              <div class="col-sm-14">
                <div class="input-group">
                  <select class="form-control" formControlName="local_atencion">
                    <option value="">--Seleccionar--</option>
                    <option value="Agencia Ayacucho">Agencia Ayacucho</option>
                    <option value="Agencia Huanta">Agencia Huanta</option>
                    <option value="Agencia San Francisco">Agencia San Francisco</option>
                  </select>
                </div>
              </div>
            </div> -->
                        <div class="col-sm-4" [ngClass]="{
              'has-success': validarSuccess('usuario'),
              'has-danger': validarError('usuario')
            }">
                            <label class="form-control-label">
                Cajero: <span class="text-danger">(*)</span>
              </label>
                            <!-- <div class="col-sm-14">
                <div class="input-group"> -->
                            <select class="form-control" [ngClass]="
                  validarSuccess('usuario')
                    ? 'form-control-success'
                    : 'form-control-danger'
                  " formControlName="usuario">
                <option value="">--Seleccionar--</option>
                <option *ngFor="let item of usuarios" [value]="item.id">
                  {{ item.persona.nombre }} {{ item.persona.apellido_paterno }} {{ item.persona.apellido_materno }}
                </option>
              </select>
                            <small class="form-control-feedback">
                <p *ngIf="validarCampo('usuario', 'required')">
                  El cajero es un dato obligatorio.
                </p>
              </small>
                        </div>
                        <!-- </div>
            </div> -->

                        <div class="col-sm-4">
                            <label for="inputEmail3" class="col-form-label">
                ¿Es caja Principal?:
              </label>
                            <div class="col-sm-12">
                                <input id="checkbox33" type="checkbox" formControlName="es_caja_principal">
                                <label for="checkbox33"></label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-4" [ngClass]="{
              'has-success': validarSuccess('codigo'),
              'has-danger': validarError('codigo')
            }">
                            <label class="form-control-label">
                Código: <span class="text-danger">(*)</span>
              </label>
                            <input type="text" class="form-control" [ngClass]="
                validarSuccess('codigo')
                  ? 'form-control-success'
                  : 'form-control-danger'
              " formControlName="codigo" maxlength="50" />
                            <small class="form-control-feedback">
                <p *ngIf="validarCampo('codigo', 'required')">
                  Ingrese el código.
                </p>
              </small>
                        </div>
                        <div class="col-sm-8" [ngClass]="{
                  'has-success': validarSuccess('descripcion'),
                  'has-danger': validarError('descripcion')
                }">
                            <label class="form-control-label">
                Descripción: <span class="text-danger">(*)</span>
              </label>
                            <input type="text" class="form-control" [ngClass]="
                    validarSuccess('descripcion')
                      ? 'form-control-success'
                      : 'form-control-danger'
                  " formControlName="descripcion" maxlength="200" />
                            <small class="form-control-feedback">
                <p *ngIf="validarCampo('descripcion', 'required')">
                  La descripción es obligatoria.
                </p>
              </small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12" [ngClass]="{
                  'has-success': validarSuccess('comentario'),
                  'has-danger': validarError('comentario')
                }">
                            <label class="form-control-label">
                Comentario: <span class="text-danger">(*)</span>
              </label>
                            <textarea class="form-control" [ngClass]="
                    validarSuccess('comentario')
                      ? 'form-control-success'
                      : 'form-control-danger'
                  " formControlName="comentario" rows="5"></textarea>
                            <small class="form-control-feedback">
                <p *ngIf="validarCampo('comentario', 'required')">
                  El comentario es un dato obligatorio.
                </p>
                <p *ngIf="validarCampo('comentario', 'maxlength')">
                  Ingrese un comentario correcto.
                </p>
              </small>
                        </div>
                    </div>

                    <div class="form-group text-right row m-b-0">
                        <div class="col-sm-12">
                            <button type="reset" (click)="cancelar()" class="btn btn-lg btn-inverse waves-effect waves-light m-r-10">
                <i class="fa fa-times-circle"></i>
                &nbsp; Cancelar
              </button>
                            <button (click)="guardar()" type="submit" class="btn btn-lg btn-info waves-effect waves-light">
                <i class="fa fa-save"></i>
                &nbsp; Guardar
              </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>