<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="text-left">
                    <div class="row">
                        <div class="col-sm-6">
                            <label class="form-control-label" *ngIf="!mostrar">
                                Buscar por:
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <select class="form-control" [(ngModel)]="seleccion">
                                <option value="nombre">Nombres</option>
                                <option value="apPaterno">Apellido paterno</option>
                                <option value="apMaterno">Apellido materno</option>
                            </select>
                        </div>
                        <div class="col-sm-4" *ngIf="seleccion === 'nombre'">
                            <input type="text" class="form-control" [(ngModel)]="nombre" pattern=".{5,10}" placeholder="Ingrese el nombre aquí">
                        </div>
                        <div class="col-sm-4" *ngIf="seleccion === 'apPaterno'">
                            <input type="text" class="form-control" [(ngModel)]="apellido" placeholder="Ingrese el apellido paterno aquí">
                        </div>
                        <div class="col-sm-4" *ngIf="seleccion === 'apMaterno'">
                            <input type="text" class="form-control" [(ngModel)]="apellidoMat" placeholder="Ingrese el apellido materno aquí">
                        </div>
                        <div class="col-sm-2" *ngIf="seleccion === 'nombre'">
                            <button class="btn btn-primary" (click)="buscarPorNombre(nombre)">
                                <i class="fa fa-search"></i>
                                &nbsp; Buscar
                            </button>
                        </div>
                        <div class="col-sm-2" *ngIf="seleccion === 'apPaterno'">
                            <button class="btn btn-primary" (click)="buscarPorApellido(apellido)">
                                <i class="fa fa-search"></i>
                                &nbsp; Buscar
                            </button>
                        </div>
                        <div class="col-sm-2" *ngIf="seleccion === 'apMaterno'">
                            <button class="btn btn-primary" (click)="buscarPorApellidoMat(apellidoMat)">
                                <i class="fa fa-search"></i>
                                &nbsp; Buscar
                            </button>
                        </div>
                    </div>
                </div>
                <br>

                <div class="row animated fadeIn fast" *ngIf="cargando">
                    <div class="col-12">
                        <div class="alert alert-info text-center">
                            <h4 class="alert-heading">Cargando...</h4>
                            <i class="fa fa-spin fa-refresh fa-2x"></i>
                            <p class="mb-0">Por favor espere</p>
                        </div>
                    </div>
                </div>

                <div class="table-responsive" *ngIf="!cargando">
                    <table class="table table-bordered color-bordered-table purple-bordered-table  
                                    table-hover full-color-table full-primary-table">
                        <thead>
                            <tr>
                                <th width="3%">#</th>
                                <th class="vertical-middle text-center">DNI</th>
                                <th class="text-center">Nombres</th>
                                <th class="text-center">Apellido paterno</th>
                                <th class="text-center">Apellido materno</th>
                                <th class="text-center">Domicilio</th>
                                <th class="text-nowrap center" width="5%">Acciones</th>
                            </tr>
                        </thead>
                        <!--  // dni, apellidos, nombres, domicili -->
                        <tbody>
                            <tr class="clickable" *ngFor="let item of persona; let i = index" (click)="buscarSocioDni(item.documento_identidad)">
                                <td class="text-center">{{ i + 1 + 15*(paginaActual-1) }}</td>
                                <td>{{item.documento_identidad}}</td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.apellido_paterno}}</td>
                                <td>{{item.apellido_materno}}</td>
                                <td>{{item.domicilio}}</td>
                                <td class="text-center">
                                    <a (click)="buscarSocioDni(item.documento_identidad)" data-toggle="tooltip" data-original-title="Cargar en sesión">
                                        <!-- Cargar Sesión -->
                                        <i class="fa fa-thumb-tack text-inverse pointer"></i>
                                    </a>
                                </td>

                                <!-- fa-thumb-tack -->
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row" *ngIf="!cargando">
                    <div class="col-sm-9" *ngIf="seleccion === 'nombre'">
                        <button (click)="cambiarPaginaNombre(nombre, -15)" class="btn btn-info" *ngIf="paginaActual!=1"><i class="fa fa-angle-left"></i>&nbsp;Anterior</button>&nbsp;
                        <button (click)="cambiarPaginaNombre(nombre,15)" class="btn btn-info" *ngIf="paginaActual!=totalPaginas">Siguiente&nbsp;&nbsp;<i
                                class="fa fa-angle-right"></i></button>
                    </div>
                    <div class="col-sm-9" *ngIf="seleccion === 'apPaterno'">
                        <button (click)="cambiarPaginaApPat(apellido, -15)" class="btn btn-info" *ngIf="paginaActual!=1"><i class="fa fa-angle-left"></i>&nbsp; Anterior</button>&nbsp;
                        <button (click)="cambiarPaginaApPat(apellido,15)" class="btn btn-info" *ngIf="paginaActual!=totalPaginas">Siguiente&nbsp;&nbsp;<i
                                class="fa fa-angle-right"></i></button>
                    </div>
                    <div class="col-sm-9" *ngIf="seleccion === 'apMaterno'">
                        <button (click)="cambiarPaginaApMat(apellidoMat, -15)" class="btn btn-info" *ngIf="paginaActual!=1"><i class="fa fa-angle-left"></i>&nbsp; Anterior</button>&nbsp;
                        <button (click)="cambiarPaginaApMat(apellidoMat,15)" class="btn btn-info" *ngIf="paginaActual!=totalPaginas">Siguiente&nbsp;&nbsp;<i
                                class="fa fa-angle-right"></i></button>
                    </div>
                    <div class="text-right col-sm-3">
                        <span class="text-info">{{ totalRegistros }}</span> Registros
                        <span class="text-info">{{ totalPaginas }}</span> Páginas
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>