* {
    font-size: 8.5px;
}


/* Times New Roman courier, courier new, serif, */

.ticket {
    width: 220px;
    letter-spacing: .1rem;
    font-family: Verdana;
    /* font-size: 8.5px; */
    /* max-width: 155px; */
}


/* p {
    letter-spacing: .2rem;
} */

td,
th,
tr,
table {
    /* border-top: 1px solid black; */
    border-collapse: collapse;
}


/* p {
    font-family: sans-serif;
} */

th.detalle {
    width: 150px;
    /* max-width: 150px; */
    /* font-family: Verdana; */
    /* font-weight: bold; */
    word-break: break-all;
}

td.ruc {
    width: 155px;
    word-break: break-all;
    /* max-width: 75px; */
    /* font-family: Verdana;
    font-weight: bold; */
}

td.detalle {
    width: 165px;
    word-break: break-all;
    /* max-width: 75px; */
    /* font-family: Verdana;
    font-weight: bold; */
}

th.monto {
    width: 75px;
    /* max-width: 150px; */
    /* font-family: Verdana; */
    /* font-weight: bold; */
    word-break: break-all;
}

td.recibo {
    width: 70px;
    word-break: break-all;
    /* max-width: 75px; */
    /* font-family: Verdana;
    font-weight: bold; */
    margin-right: 5px;
}

td.monto {
    width: 60px;
    word-break: break-all;
    /* max-width: 75px; */
    /* font-family: Verdana;
    font-weight: bold; */
    margin-right: 5px;
}

td.producto,
th.producto {
    width: 75px;
    max-width: 75px;
    font-family: Verdana;
    font-weight: bold;
}

td.cantidad,
th.cantidad {
    width: 75px;
    max-width: 75px;
    word-break: break-all;
    font-family: Verdana;
    font-weight: bold;
}

td.precio,
th.precio {
    width: 75px;
    max-width: 75px;
    word-break: break-all;
    font-family: Verdana;
    font-weight: bold;
}

.centrado {
    text-align: center;
    align-content: center;
}

.derecha {
    text-align: right;
    align-content: center;
}


/* .negrita {
    font-weight: bold;
} */

.border-top {
    /* border-top: 1px dotted black; */
    border-top: 1px dashed black;
}

.border-bottom {
    border-bottom: 1px dashed black;
    /* border-bottom: 1px dotted black; */
}


/* .separado {
    letter-spacing: .1rem;
} */


/* img {
    max-width: inherit;
    width: inherit;
} */

@media print {
    .oculto-impresion,
    .oculto-impresion * {
        display: none !important;
    }
}