<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form class="form-horizontal" [formGroup]="form" (submit)=guardar()>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">
                            DNI:
                        </label>
                        <div class="col-sm-3 input-group">
                            <input type="text" class="form-control" formControlName="documento_identidad">
                            <div class="input-group-addon"><i class="ti-credit-card"></i></div>
                        </div>
                        <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">
                            Nombre
                        </label>
                        <div class="col-sm-3 input-group">
                            <input type="text" class="form-control" formControlName="nombre">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">
                            Apellido Paterno:
                        </label>
                        <div class="col-sm-3 input-group">
                            <input type="text" class="form-control" formControlName="apellido_paterno">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                        </div>
                        <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">
                            Apellido Materno:
                        </label>
                        <div class="col-sm-3 input-group">
                            <input type="text" class="form-control" formControlName="apellido_materno">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">
                            Fecha de nacimiento:
                        </label>
                        <div class="col-sm-3">
                            <input class="form-control" type="date" formControlName="fecha_nacimiento">
                        </div>
                        <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">
                            ¿Masculino?:
                        </label>
                        <div class="col-sm-3">
                            <input id="checkbox33" type="checkbox" formControlName="es_masculino">
                            <label for="checkbox33"></label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">
                            Número de celular:
                        </label>
                        <div class="col-sm-3 input-group">
                            <input type="text" class="form-control" formControlName="numero_celular">
                            <div class="input-group-addon"><i class="ti-mobile"></i></div>
                        </div>
                        <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">
                            Número de teléfono:
                        </label>
                        <div class="col-sm-3 input-group">
                            <input type="text" class="form-control" formControlName="numero_telefono">
                            <div class="input-group-addon"><i class="ti-mobile"></i></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">
                            Correo electrónico:
                        </label>
                        <div class="col-sm-9 input-group">
                            <input type="email" class="form-control" formControlName="correo_electronico">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">
                            Domicilio:
                        </label>
                        <div class="col-sm-9 input-group">
                            <input type="text" class="form-control" formControlName="domicilio">
                            <div class="input-group-addon"><i class="ti-home"></i></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">
                            Referencia del Domicilio:
                        </label>
                        <div class="col-sm-9 input-group">
                            <input type="text" class="form-control" formControlName="referencia_domicilio">
                            <div class="input-group-addon"><i class="ti-home"></i></div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">
                            Departamento:
                        </label>
                        <div class="col-sm-3">
                            <select class="custom-select col-9" id="inlineFormCustomSelect">
                                <option selected="">--Seleccionar--</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">
                            Provincia:
                        </label>
                        <div class="col-sm-3">
                            <select class="custom-select col-9" id="inlineFormCustomSelect">
                                <option selected="">--Seleccionar--</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">
                            Distrito:
                        </label>
                        <div class="col-sm-3">
                            <select class="custom-select col-9" id="inlineFormCustomSelect">
                                <option selected="">--Seleccionar--</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 text-left control-label col-form-label">
                            Comentario:
                        </label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group text-right m-b-0">
                        <div class="offset-sm-3">
                            <button type="submit" class="btn btn-info waves-effect waves-light m-t-10">
                                <i class="fa fa-save"></i>
                                &nbsp; Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->